<div class="chat">
    {% if chat is defined and chat is not empty %}
    <div class="chat-header clearfix">
        <div class="row">
            <div class="col-lg-6">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                </a>
                <div class="chat-about">
                    <h6 class="m-b-0">{{ chat.createName(app.user) }}</h6>
                    <small>Last seen: 2 hours ago</small>
                </div>
            </div>
            <div class="col-lg-6 hidden-sm text-right">
                <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
            </div>
        </div>
    </div>
    <div class="chat-history">
        <ul class="m-b-0">
            {% if chat is defined and chat is not empty %}
                {% for message in chat.messages %}
                <li class="clearfix">
                    {% if message.user.email == app.user.email %}
                    <div class="message-data text-right">
                        <span class="message-data-time">{{ message.createdAt|format_datetime() }}</span>
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                    </div>
                    <div class="message other-message bg-info"> {{ message.text}} </div>
                    {% else %}
                        <div class="message-data">
                            <span class="message-data-time float-right">{{ message.createdAt|format_datetime() }}</span>
                            <img class="text-right" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                        </div>
                        <div class="message other-message float-right"> {{ message.text}} </div>
                    {% endif %}
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="chat-message clearfix">
        {% if chat is defined and chat is not empty %}
        <form action="{{ path('app_chat_add_message', {'chatId' : chat.id}) }}", method="POST", name="chatForm">
            <div class="form-group">
                <input type="text" class="form-control" name="chatMessage"  placeholder="Enter message...">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
        {% endif %}
    </div>
    {% else %}
        <div class="chat-header clearfix">
            <div class="row">
                <div class="col-lg-6">
                </div>
            </div>
        </div>
        <div class="chat-history">
            <ul class="m-b-0">

            </ul>
        </div>
        <div class="chat-message clearfix">
        </div>
    {% endif %}
</div>